@import "../global";
.addresses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px 50px;
  height: 45vh;

  & * {
    border-radius: 5px;
    text-decoration: none;
  }

  .new__address {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    outline: dashed;

    i {
      font-size: 30px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }
  }
}

h1 {
  padding: 20px 50px;
}

.user__address {
    outline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    & * {
        margin: 0 10px;
    }

    .update__address {
        display: flex;
        a {
            text-decoration: dashed;
            color: $text-color;
            margin: 0 10px 0 0;
        }
    }
    p {
        margin:0 10px;
        
    }
}