@import "../../global";
.affiliate__wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  aside {
    width: 20%;
    display: flex;
    flex-direction: column;

    a {
      outline: auto $text-color;

      text-decoration: none;
      color: $text-color;
      padding: 30px;
    }
  }

}



#productsSelled {
display: flex;
  flex-direction: column;
    .product__information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;

    .block1 {
      padding: 20px;
      display: flex;
      justify-content: center;
      outline: auto $text-color;
    }
  }
}

#addProduct {
    display: flex;
    form {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-group {
            margin: 15px 20px;
            input {
                width: 100%;
            }
        }

        #productName {
            margin-top: 0;
        }


    }
}

#productImage {
    height: inherit;
    img {
        width: 500px;
        height: 500px;
    outline: auto $text-color;

    padding: 50px;

    }
}