@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

$text-color-white: #FFFFFF;
$text-color-black: #0B090A;
$text-color: #660708;
$text-color-light: #a4161a;

$bg: #161a1d;
$bg2: #0B090A;
$bg3: #a4161a;
$bg-aff: #f3f3f3 !important;

$imgLogoRed: "/php_programs/Wutai/Wutai/public/img/logo2.png"