@import 'global.scss';

.row {
    padding: 30px;
    background-color: $bg2;
    color: $text-color-white;
    grid-gap: 20px;
    .col {
        background-color: #303030;
        height: 40vh;
    }

    .col-8 {
        background-color: #303030;
        height: 50vh;
        width: 65%;
    }

    .col-4 {
        background-color: #303030;
        height: 30vh;
    }

    .col-md-4 {
        background-color: #303030;
        height: 50vh;
        width: 32%;
    }

    .col-md-8 {
        background-color: #303030;
        height: 50vh;
        width: 65.7%;
    }


    

}
