@import "../../global";

body {
  background-color: $text-color;
}

.wrapper__page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
}

.concept {
  height: 100%;
  overflow-y: hidden;
}

#conceptImg {
  width: 100%;
  height: 100%;
}

#formWrapperId {
    padding-top: 10px;
    padding-bottom: 10px;
}

#createAccount,
#join {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #000;

  .form__wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 10PX 30px;
    height: 100%;
    a {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    img {
        width: 45%;
    }
}

    h1 {
        text-align: center;
      padding: 10px 0;
      font-size: clamp(1rem, 10vw, 2rem);
    }
    form {

      input {
        background-color: $text-color;
        color: $text-color-white;

        &::placeholder {
          color: rgb(194, 194, 194);
        }

        label {
          text-align: start;
        }
      }

      .col {
        display: flex;

        #name {
            margin-right: 10px;
        }
        #surname {
            margin-left: 10px;
        }
      }
    }

    input {
      padding: 17px;
      margin: 10px 0;
      width: 100%;
      border-radius: 10px;
      border: solid 1px #cccccc94;
      font-size: clamp(1rem, 1.2vw, 2rem);
    }

  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: clamp(1rem, 1.7vw, 2rem);
  color: $text-color;
  width: 31.4%;
}
.after__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
.before__after__span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgba(107, 107, 107, 0.668);
    padding: 20px;
    &::before, &::after {
        content: "";
        display: block;
        width: 25%;
        height: 1px;
        background-color: #660708;
        margin: 10px;
    }
}
a {
    text-align: center;
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;

    text-decoration: none;
    border: solid 1px $text-color;
    color: #000;
}
}