@import "global";
.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;

  .contact__form,
  .contact__info {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
  }

  .contact__form {
    background-color: #f1f1f1;

    h1 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        transition: border-color 0.3s;

        &:focus {
          border-color: $text-color;
          outline: none;
          box-shadow: 0 0 0 0.2rem #a4161b9d;
        }
      }
    }
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: $text-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;

    &.btn-primary {
      background-color: $text-color;

      &:hover {
        background-color: $text-color-light;
      }
    }
  }
}

.contact__info {
  flex: 10% !important;
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  p {
    margin-bottom: 10px;
    color: #555;

    a {
      color: $text-color;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: $text-color-light;
        text-decoration: dashed;
      }
    }
  }
}

#message {
  resize: none;
}

@media (max-width: 768px) {
  .contact__form,
  .contact__info {
    flex: 1 1 100%;
  }
}
