@import 'global';
footer {
    background-color: $bg2;

    .container {
        background-color: #000;
    }

    #socialMedia {
        background-color: $text-color;
    }

    #logo {
        img {
            width: 100%;
            height: 50%;
        }
    }

    #paymentFooter{
        width: 16.6666666%;
    .payment__methods {
        display: flex;
        flex-wrap: wrap;
        p{
            margin-right: 5px;
        }
    }
}
}
